body{
	background-size: cover;
	background-repeat: no-repeat;
}

.wraper{

}
	.menu{
		margin-left: -538px;
	}
	.item{
		color:orange;
		display: inline-block;
	}
	.item:hover{
		color:blue;
	}
.list{
	list-style: none;
}
.menu-left{
	float: left;
}
