body{
		background-color: lavender;
	}
	.ct{
		color: black;
		display: none;
		padding: 20px 0;
	}
	.ct>h3{
		margin: 0;
		padding-bottom: 20px;
	}
	.btn-active{
		background: white!important;;
	}
	.ct-active{
		display:block !important;
		background: white;
		width: 70%;
		height: 
		border-color: gray;
		display: block;
	}
	.btn{
		background: gray;
		border: 0;
	}